name: Deploy
  
on:
  push:
    branches:
      - main

env:
  SERVICE_NAME: ${{vars.SERVICE_NAME}}  # サービス名
  REGULAR_JOB_NAME: ${{ vars.REGULAR_JOB_NAME }}  # レギュラージョブ名
  SERVICE_ACCOUNT_NAME: ${{ secrets.SERVICE_ACCOUNT_NAME }}  # サービスアカウント名
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}  # GCPプロジェクトID
  GCP_REGION: ${{ secrets.GCP_REGION }}  # GCPリージョン名(例：asia-northeast1)
  GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}  # サービスアカウントキー
  SERVICE_IMAGE: ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REPO_NAME }}/${{ vars.SERVICE_NAME }}  # サービスのDockerイメージ名
  REGULAR_JOB_IMAGE: ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REPO_NAME }}/${{ vars.REGULAR_JOB_NAME }}  # 定期実行ジョブのDockerイメージ名
  ENV_VARS: OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }},SUPABASE_URL=${{ secrets.SUPABASE_URL }},SUPABASE_ANON_KEY=${{ secrets.SUPABASE_ANON_KEY }},BUCKET_NAME=${{ vars.BUCKET_NAME }},ENVIRONMENT=${{ vars.ENVIRONMENT }}
 
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: リポジトリにチェックアウトする
      uses: actions/checkout@v4

    - id: "auth"
      uses: "google-github-actions/auth@v2"
      with:
        credentials_json: "${{ env.GCP_SA_KEY }}"

    - name: gcloudの設定を行う
      run: gcloud auth configure-docker ${{ env.GCP_REGION }}-docker.pkg.dev --quiet

    - name: サービスの古いイメージを削除する
      continue-on-error: true
      run: |
        SERVICE_IMAGE="${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REPO_NAME }}/${{ vars.SERVICE_NAME }}"
        gcloud artifacts docker images delete "$SERVICE_IMAGE" --quiet

    - name: 定期実行ジョブの古いイメージを削除する
      continue-on-error: true
      run: |
        REGULAR_JOB_IMAGE="${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REPO_NAME }}/${{ vars.REGULAR_JOB_NAME }}"
        gcloud artifacts docker images delete "$REGULAR_JOB_IMAGE" --quiet

    - name: サービスをビルドする
      run: |
        SERVICE_IMAGE="${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REPO_NAME }}/${{ vars.SERVICE_NAME }}"
        REGULAR_JOB_IMAGE="${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REPO_NAME }}/${{ vars.REGULAR_JOB_NAME }}"
        echo "SERVICE_IMAGE=$SERVICE_IMAGE"
        echo "REGULAR_JOB_IMAGE=$REGULAR_JOB_IMAGE"
        docker build -t "$SERVICE_IMAGE" -f packages/ai/Dockerfile.service packages/ai
        docker build -t "$REGULAR_JOB_IMAGE" -f packages/ai/Dockerfile.regular.job packages/ai

    - name: サービスのDockerイメージをプッシュする
      run: docker push ${{ env.SERVICE_IMAGE }}

    - name: 定期実行ジョブのDockerイメージをプッシュする
      run: docker push ${{ env.REGULAR_JOB_IMAGE }}

    - name: サービスをCloud Runにデプロイする
      run: |
        gcloud run deploy $SERVICE_NAME \
          --image $SERVICE_IMAGE \
          --project $GCP_PROJECT_ID \
          --region $GCP_REGION \
          --service-account $SERVICE_ACCOUNT_NAME \
          --platform managed \
          --set-env-vars $ENV_VARS \
          --allow-unauthenticated

    - name: 定期実行ジョブをCloud Runにデプロイする
      run: |
        if gcloud run jobs describe $REGULAR_JOB_NAME --region $GCP_REGION --project $GCP_PROJECT_ID > /dev/null 2>&1; then
          echo "Updating existing job..."
          gcloud run jobs update $REGULAR_JOB_NAME \
            --image $REGULAR_JOB_IMAGE \
            --project $GCP_PROJECT_ID \
            --region $GCP_REGION \
            --service-account $SERVICE_ACCOUNT_NAME \
            --task-timeout=50s \
            --max-retries=0 \
            --set-env-vars $ENV_VARS \
            --tasks=1
        else
          echo "Creating new job..."
          gcloud run jobs create $REGULAR_JOB_NAME \
            --image $REGULAR_JOB_IMAGE \
            --project $GCP_PROJECT_ID \
            --region $GCP_REGION \
            --service-account $SERVICE_ACCOUNT_NAME \
            --task-timeout=50s \
            --max-retries=0 \
            --set-env-vars $ENV_VARS \
            --tasks=1
        fi
